<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/head") %>
    <title>Donate - NaariRaksha</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <section class="text-gray-600 body-font">
      <div
        class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
      >
        <img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="/images/donate.png"
        />
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
          >
            Empower Change: Support Women's Safety
          </h1>
          <p class="mb-8 leading-relaxed">
            Your contribution can make a significant difference in creating a
            safer world for women. Our mission is to provide essential
            resources, support, and education to empower women and ensure their
            safety in all environments. With your donation, we can continue to
            expand our efforts in developing safety programs, offering
            self-defense training, and providing emergency support services to
            those in need. Every donation, no matter the size, helps us reach
            more women and communities, providing them with the tools and
            knowledge to protect themselves and advocate for their rights. Your
            generosity allows us to build a future where every woman feels safe,
            respected, and empowered to live her life free from fear. Together,
            we can challenge and change the societal norms that contribute to
            gender-based violence and inequality. By supporting our cause, you
            are not just donating to a charity—you are investing in a movement
            that strives for a world where women's safety is a priority for
            everyone. Join us in making a lasting impact. Your support is a
            vital part of our journey towards a safer, more just world for
            women.
          </p>
          <div class="flex justify-center">
            <form action="/donate/order" method="POST">
              <input
                type="text"
                name="amount"
                placeholder="Enter Amount"
                required
              />
              <button
                class="inline-flex text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded text-lg"
              >
                Donate Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer") %> <%- include("./partials/script") %>
    <script>
      const razorpayKey = "<%= razorpayKey %>";
      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();

        const amount = document.querySelector('input[name="amount"]').value;
        console.log(amount)

        fetch("/donate/order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ amount: amount }),
        })
          .then((response) => response.json())
          .then((order) => {
            const options = {
              key: razorpayKey,
              amount: order.amount * 100,
              currency: order.currency,
              name: "NaariRaksha",
              description: "For Women",
              order_id: order.id,
              handler: function (response) {
                fetch("/donate/verify", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(response),
                })
                  .then((res) => res.text())
                  .then((text) => alert(text));
              },
              prefill: {
                name: "John Doe",
                email: "john.doe@example.com",
                contact: "9999999999",
              },
              theme: {
                color: "#3399cc",
              },
            };
            const rzp1 = new Razorpay(options);
            rzp1.open();
          })
          .catch((err) => console.error(err));
      });
    </script>
  </body>
</html>
